[submodule "./plancklens"]
	path = plancklens
	url = https://github.com/ewanchamberlain/plancklens.git
	branch = master
[submodule "./delensalot"]
	path = delensalot
	url = https://github.com/ewanchamberlain/delensalot
	branch = sdev_eb
[submodule "./LensIt"]
	path = LensIt
	url = https://github.com/ewanchamberlain/LensIt.git
	branch = scikit
[submodule "./lensitbiases"]
	path = lensitbiases
	url = https://github.com/NextGenCMB/lensitbiases.git
	branch = main
