[submodule "./plancklens"]
	path = plancklens
	url = https://github.com/carronj/plancklens.git
[submodule "./delensalot"]
	path = delensalot
	url = https://github.com/NextGenCMB/delensalot
	branch = eb_tests
[submodule "./LensIt"]
	path = LensIt
	url = https://github.com/carronj/LensIt.git
	branch = master
