[submodule "submodules/plancklens"]
	path = submodules/plancklens
	url = https://github.com/ewanchamberlain/plancklens.git
[submodule "submodules/LensIt"]
	path = submodules/LensIt
	url = https://github.com/ewanchamberlain/LensIt.git
	branch = scikit
[submodule "submodules/lensitbiases"]
	path = submodules/lensitbiases
	url = https://github.com/NextGenCMB/lensitbiases.git
	branch = main
[submodule "submodules/delensalot"]
	path = submodules/delensalot
	url = https://github.com/ewanchamberlain/delensalot
	branch = sdev_eb
